Import all the packages required

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import missingno as msno
import seaborn as sns
%matplotlib inline

from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

#STEP 1 of 5: Data Gathering - open the date file

In [0]:
loan_df=pd.read_excel("BankData.xlsx", sheet_name="Data")

# STEP 2 of 5: Data Preprocessing - Check the contents of the file and fix missing values

In [5]:
loan_df.head(10)

   age            job marital status   ... housing loan? Personal loan   y
0   30     unemployed         married  ...            no            no  no
1   33       services         married  ...           yes           yes  no
2   35     management          single  ...           yes            no  no
3   30     management         married  ...           yes           yes  no
4   59    blue-collar         married  ...           yes            no  no
5   35     management          single  ...            no            no  no
6   36  self-employed         married  ...           yes            no  no
7   39     technician         married  ...           yes            no  no
8   41   entrepreneur         married  ...           yes            no  no
9   43       services         married  ...           yes           yes  no

[10 rows x 8 columns]

#STEP 3 of 5 : Do exploratory data analysis

In [0]:
loan_df.dtypes

age                 int64
job                object
marital status     object
education          object
credit default?    object
housing loan?      object
Personal loan      object
y                  object
dtype: object

In [0]:
# Convert the object features into categorical

# Histograms and outliers

#Do one hot encoding for categorical types

#STEP 4 of 5 : Split the data, run logistic regression

#STEP 5 of 5 : Print the accuracy metrics